#calculator 
    {
        background-color: rgb(71, 80, 78);
        border: 10px solid rgb(184, 180, 180);
        border-radius: 5px;
        width: 200px;
    }   
    
    #display
    {   
        background-color: rgb(27, 27, 27);
        color: aliceblue;
        font-style: oblique;
        margin: 10px ;
        width: 170px;
        font-size: 25px
    }

    .button-container
    {
        background-color: rgb(71, 80, 78);
        display: flex ;
        justify-content: center;
        flex-wrap: wrap;

    }
    .button
    {
        background-color: rgb(185, 211, 226);
        font-size: larger;
        width: 50px;
        height: 50px;
        margin: 2px;
    }